.fc .fc-scrollgrid-sync-table {
  border: 1px;
}

.fc-daygrid-day-number {
  font-size: 12px;
}

.fc-day-sat .fc-daygrid-day-number {
  color: blue;
}
.fc-day-sat .fc-col-header-cell-cushion {
  color: blue;
}
.fc-day-sun .fc-daygrid-day-number {
  color: red;
}
.fc-day-sun .fc-col-header-cell-cushion {
  color: red;
}

.fc .fc-daygrid-day-frame {
  height: 50px;
}
.fc .fc-daygrid-day-frame:hover {
  cursor: pointer;
}
.fc-event-title {
  font-size: 12px;
  color: red;
}

.fc-event {
  background-color: transparent;
  border: none;
  text-align: center;
}
