/* 全体のスタイリング */
body {
  font-family: "Arial", sans-serif;
  background-color: #ebebeb !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 20px 0 0 0;
  width: 100%;
}

/* タイトル */
h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
